@model a5_mvc.Models.Home
@{
	ViewBag.Title = "Statistics";
}

<div class="row">
	<div class="col-md-4">
		<div>
			<dl class="dl-horizontal">
				<dt>
					Pets in shelter: @Html.DisplayNameFor(model => model.Shelter)
				</dt>

				<dt>
					Pets who have found a home: @Html.DisplayNameFor(model => model.FoundHome)
				</dt>

				<dt>
					Pets put down: @Html.DisplayNameFor(model => model.PutDown)
				</dt>

				<dt>
					Percent saved: @Html.DisplayNameFor(model => model.PercentSaved)
				</dt>

				<dt>
					<i>Every effort counts!</i>
				</dt>
			</dl>
		</div>
	</div>
</div>